@import "colors";

.title {
    text-align: center;
    margin: 0.5em;
}

.categories {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  cursor: pointer;
  li {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 1rem;
    background-color: $header;
    transition: all ease-in-out 200ms;
    &:hover {
      box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
      transform: translateY(-2px);
    }
  }
}

.competences {
  list-style: none;
  color: white;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
