@import 'colors';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fjalla One', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body, #__next {
  background-color: $primary-color;
  min-height: 100vh;
}
