@import 'colors';

.header-container {
    margin: 0;
    background-color: $header;
    border-left: solid 2px rgba(255,255,255,0.1);
    border-right: solid 2px rgba(255,255,255,0.1);
}

.header {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    color: white;
    align-items: center;
}

.logo {
    width: 20%;
    margin-right: 1em;
}

.logo-img {
    width: 50px;
    cursor: pointer;
}

.title {
    width: 60%;
    font-size: 1.5em;
    text-align: center;
    margin: 0.67em 0;
}
