@import "colors";

.container,
.row,
.column {
  min-height: calc(100vh - 3em);
}

.row {
  padding: 0 1em;
}

.row-main {
  height: calc(100% - 153px);
}

.col-main {
  height: 100%;
}

/*.main {
    padding: 1em 2em;
}*/

.column {
  background-image: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  margin-top: 1.75em;
  padding: 0;
  overflow: hidden;
}
