@import 'colors';

.section {    
    margin: auto;
    padding: 0.5em 1em 0em 1em;
    border-bottom: solid 2px rgba(255,255,255,0.3);
}

.column {
    padding: 0;
}

.tabs {
    height: 2em;
}

.close {
    fill: $close;
}

.minimize {
    fill: $minimize;
}

.zoom {
    fill: $zoom;
}
