.header-container {
    margin: 1em 0;
    background-color: blue;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    color: white;
    align-items: center;
}

.logo {
    width: 4em;
    margin-right: 1em;
}

.title {
    font-size: 200%;
    text-align: center;
}

.menu {
    margin-left: auto;
}