@import '_colors.scss';

.header-container {
    margin: 0;
    background-color: $primary-color;
    border-left: solid 2px rgba(255,255,255,0.1);
    border-right: solid 2px rgba(255,255,255,0.1);
}

.header {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    color: white;
    align-items: center;
}

.logo {
    width: 4em;
    margin-right: 1em;
}

.title {
    font-size: 200%;
    text-align: center;
}

.menu {
    margin-left: auto;
}