@import '_colors.scss';

.container, .row, .column {
    min-height: calc(100vh - 3em);
}

.row {
    padding: 0 1em;
}

/*.main {
    padding: 1em 2em;
}*/

.column {
    background-image: linear-gradient(
        to left bottom,
        rgba(255,255,255,0.70),
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    margin-top: 1.75em;
    padding: 0;
    overflow: hidden;
}