@import '_colors.scss';

.section {
    padding-bottom: 0.2em;
    border-bottom: solid 2px rgba(255,255,255,0.3);
}

.tabs {
    height: 2em;
}

.close {
    fill: $close;
}

.minimize {
    fill: $minimize;
}

.zoom {
    fill: $zoom;
}